# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=

NEXT_PUBLIC_CONVEX_URL=http://127.0.0.1:3210

NEXT_PUBLIC_CONVEX_SITE_URL=http://127.0.0.1:3211

COMPOSIO_API_KEY=

MCP_PROXY_URL=http://localhost:8000


AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=